In [2]:
import hvplot.pandas
import pandas as pd

csv_path = "Cleaned_Crime_Data.csv"

crime_data = pd.read_csv(csv_path)
crime_data.head()

,Unnamed: 0,Date Occurred,Time Occurred,Area Name,Reporting District,Crime Code Description,Victim Age,Victim Sex,Victim Descent,Premise Description,Location,Month,Day,Year,Lat,Lon
0,200648,03/11/2015,1600,Central,143,SHOPLIFTING - PETTY THEFT ($950 & UNDER),27.0,M,H,OTHER STORE,"(34.0481, -118.2507)",3,11,2015,34.0481,-118.2507
1,202598,07/08/2015,2355,Central,153,TRESPASSING,32.0,M,B,HOTEL,"(34.0467, -118.252)",7,8,2015,34.0467,-118.2520
2,205673,07/15/2015,1600,Central,162,"THEFT, PERSON",54.0,F,H,DEPARTMENT STORE,"(34.048, -118.2577)",7,15,2015,34.0480,-118.2577
3,409110,07/23/2015,715,Central,105,BURGLARY FROM VEHICLE,30.0,F,W,STREET,"(34.0688, -118.2333)",7,23,2015,34.0688,-118.2333
4,490916,07/17/2015,1510,Central,111,DOCUMENT FORGERY / STOLEN FELONY,44.0,F,O,BANK,"(34.0604, -118.2393)",7,17,2015,34.0604,-118.2393